<doctype html>
<html lang="en">
<head>
    <title>Saved Messages (basic) - Messages Database</title>
    <!--  <link rel="stylesheet" href="./static/style.css"/>  -->
</head>

<body>
    <div style="text-align:center;">
    <h2>Saved Messages (basic)</h2>   

    <!--  to show the table of messages:   -->
    {{table}}


    <p>
    <a href="{{url_for('show_messages_pro')}}"><button>Show advance data and options</button></a> 
    <p>
    <a href="{{url_for('index')}}"><button>Back to mainpage</button></a> 
    </div>
</body>
</html>